#window {
    border:5px solid;
    width: 550px;
    height: 400px;
    background-color: skyblue;
    overflow: hidden;
}

#viewFinder {
    display: flex;
    /* transform: translateX(-400px); */
}

img {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 530px;
    height: 380px;
}

.center-block {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}